.Center {
  width: clamp(300px, 50vw, 400px);
  height: clamp(300px, 50vw, 400px);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #08090A;
  border: 2px solid rgba(0, 255, 136, 0.1);
  box-shadow: 0 0 60px rgba(0, 255, 136, 0.1);
  position: relative;
  margin: 20px auto;
  overflow: hidden;
  cursor: pointer;
  animation: popIn 1s ease forwards;


}


.Center .inner-content {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
}

@keyframes popIn {
  0% {
    transform: scale(0);
    opacity: 0;
    box-shadow: 0 0 20px rgba(0, 255, 136, 0.1);
  }

  60% {
    transform: scale(1.1);
    opacity: 1;
    box-shadow: 0 0 100px rgba(0, 255, 136, 0.5);
  }

  100% {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 0 60px rgba(0, 255, 136, 0.2);
  }
}



@media screen and (max-width: 500px) {
  .Center {
    width: 280px;
    height: 280px;
  }
}
